{% set siteName = 'Hello World' %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ siteName }}</title>
  <link rel="stylesheet" href="./css/styles.min.css">
</head>
<body class="sans-serif">

  {% include '_partials/_hero.twig' %}

</body>
</html>
